/* GOTHAM FONT INSTALLATION */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
 }

/* GENERAL */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #f2f6f9;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #3e3f3f;
}

a {
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

ul {
  list-style: none;
}

/* FONT-WEIGHT CLASSES */
.extra-bold {
  font-weight: 800;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.gotham {
  font-family: 'Gotham';
}
.white {
  color: white;
}
.blue {
  color: #439cd6;
}


/* HEADER */
header {
  position: fixed;
  width: 100%;
  background-color: #439cd6;
  padding: 20px 0 10px 0;
  z-index: 100;
}

.header-container{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.header-container ul {
  list-style: none;
  display: flex;
}

.header-lis {
  list-style: none;
  padding: 0 20px;
}

.header-links {
  color: #ecf0f3;
  font-size: 12px;
}

.header-links:hover, .header-links:focus {
  color: #ffffff;
}

.title-dreamcamp {
  color: #ffffff;
  font-size: 22px;
}


/* INTRO SECTION */
.intro {

}

.intro-video {
  top: 0;
  /*height: 100vh;*/ /* ?messes with height? */
  position: relative;
}

#autoplayVid {
  max-width: 100%;
  height: auto;
  min-height: 100%;
  transition: 0.75s;
}

#autoplaybtn:hover {
}

.autoplay-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.autoplay-button-image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-image: url("../video/img/buttonAutoplayPause.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
}

.play-button-image {
  background-image: url("../video/img/buttonAutoplayPlay.png");
}

.video-stopfade {
   filter: brightness(75%);
}


/* SLIDE-1 SECTION */
.slide-1 {

}

.slide-1-header-wrapper {
  position: relative;
  height: 40vh;
  margin-top: -20px;
  background-image: url("../lib/bgs/wave-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.slide-1-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.slide-1-general-info-wrapper {
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f6f9;
}

.slide-1-general-info-slogan-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 20vh 10vh 5vh 10vh; */
  padding: 200px 100px 50px 100px;
}

.slide-1-general-info-slogan-main {
  font-size: 50px;
  padding-bottom: 10px;
}

.slide-1-general-info-slogan {
  font-size: 22px;
}

.slide-1-general-info-block-around-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 5vh 10vh 20vh 10vh; */
  padding: 50px 100px 200px 100px;
}

.slide-1-general-info-block-wrapper {
  width: 70vw;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.slide-1-general-info-wrapper {
  width: 30%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.slide-1-general-info-image {
  width: 100%;
}

.slide-1-general-info-table-wrapper {
  width: 85%;
  padding: 20px;
}

.slide-1-general-info-table {
  padding: 0;
  font-size: 20px;
}

.slide-1-general-info-unit {
  padding: 5px 0;
  font-size: 16px;
}

.first-unit-offset {
  margin-top: 30px;
}


/* CONTACT */
.contacts {
  height: 100vh;
  padding: 100px 12%;
  background-color: white;
}

.contacts-container {

}

.contacts-header-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row-reverse;
}

.contacts-header {
  font-size: 50px;
  float: right;
}

.contacts-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.contact-block {
  width: 30%;
  position: relative;
}

.contact-message {
  flex-grow: 0.5;
}

.contact-block p {
  width: 100% !important;
}

.contact-block-label {
}

.contact-block-textarea {
}

input {
  width: 100%;
  height: 40px;
  background: #f8f7f7;
  border: 0;
  color: #000000;
  font-weight: 500;
  line-height: 22px;
  margin: 10px 0;
  font-size: 13px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contacts-button {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

input.button-submit {
  width: 30%;
  height: 50px;
  background: #439cd6;
  border: 0;
  color: #f8f7f7;
  line-height: 22px;
  font-size: 13px;
  cursor: pointer;
  margin: 16px 0;
}

input:focus {
  background: #f4f4f4; 
}

.contact-block-textarea {
  width: 100%;
  height: 40px;
  border: 0;
  line-height: 22px;
  background: #f8f7f7;
  color: #f2f6f9;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  resize: none;
}

.contact-block-textarea:focus {
  background: #f4f4f4;
  height: 150px;
}

.email-message {
  padding: 15px;
  width: calc(50% - 30px);
  text-align: left;
  background: #f8f7f7;
  border: 0;
  color: #8d8d8d;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 22px;
  font-size: 13px;
}


/* FOOTER */
footer {
  width: 100%;
}

.footer-container {
  background-color: #3e3f3f;
  height: 140px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-block {
  margin: 0 10%;
}